@import 'override';
@import 'utility';
@import 'utility_colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #998c8c;

}

html,
body,
#root,
#root > div {
  height: 100%;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(177, 77, 77);
  }

  &::-webkit-scrollbar-thumb {
    background: darken(rgb(0, 0, 0), 20%);
  }
}

.img-fullsize {
  * {
    width: auto !important;
    height: auto !important;
  }
}

.chat-top,
.chat-middle,
.chat-bottom {
  margin: 0;
  padding: 0;
}

.chat-top,
.chat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.959);
}

$chat-t: 75px;
$chat-b: 65px;

.chat-top {
  height: $chat-t;
  background: rgba(156, 156, 156, 0.959);
  border-radius: 1mm;
}

.chat-bottom {
  height: $chat-b;
  border-radius: 1mm;
  background: rgba(77, 69, 69, 0.959);
}

.Picker{
  position: absolute;
  background: rgba(77, 73, 74, 0.959);
}

.chat-middle {
  height: calc(100% - #{$chat-t} - #{$chat-b});
  background: rgba(77, 73, 74, 0.959);
  border-radius: 1mm;
}

.recevedmessage{
  background-color: rgb(88, 87, 87);
  padding: 5px;
  color: whitesmoke;
  width: fit-content;
  border-radius: 10px 10px 10px 0px;
  margin-bottom: 10px;
}

.authormessage{
  margin-left: auto;
  background-color: rgb(56, 33, 33);
  padding: 5px;
  color: whitesmoke;
  width: fit-content;
  border-radius: 15px 0px 15px 15px;
  margin-bottom: 10px;
}

// .msghead{
  
//   background-color:silver;
//   padding: 5px;
//   color: whitesmoke;
//   width: fit-content;
//   border-radius: 10px 10px 10px 10px;
//   margin-bottom: 2px;
  
// }

// .msgbox{
//   background-color: rgb(75, 72, 72);
//   padding: 5px;
//   color: whitesmoke;
//   width: fit-content;
//   border-radius: 10px 10px 10px 0px;
//   margin-bottom: 10px;
// }

.joinconv{
  color: rgb(233, 222, 123);
}


.msg-list {
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgba(170, 170, 81, 0.959);
  overflow-y: auto;
  list-style-type: none;
  li {
    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.animate-blink {
  animation: blink normal 1.5s infinite ease-in-out;
  color: rgb(243, 2, 2) !important;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}
